<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title || 'Mon Blog'}}</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])

  <title>{{title || 'Mon Blog'}}</title>

  <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />

</head>
<body>

  @include('partials/navbar')
  @include('partials/flash')

<div class="container">

<hr>
